*{
    margin:10;
    padding:10;
}

body
  {
    background-image: url('./plumage-176723__340.jpg');
    background-size: cover;
}

.main-nav
{

    list-style: none;
    margin-top:30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav-li a 
{  
    color: white;
    text-decoration: none;
    padding: 5px 20;
    font-family :"Roboto",sans-serif;
    font-size:15px;

    
}

.main-nav li.active a
{ 
    border:1px solid plum;
}

.main-nav li a 
{
    border:1px solid palevioletred;
}

img {
    border-radius: 50%;
}

img {
    width: 20%;
    height: auto;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }
  
  a:hover {
    background-color: pink;
  }

  #container {
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .nav-item {
    background-color: #333;
  }

  body {
    color: white;
  }
  
  h1 {
    color:white;
  }
